
ul{
  /* The list style type removes the dot */
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: orange;
  /*The overflow fixes if the thing is big (text and size)*/
  overflow: hidden;
    /* top makes it move the the highest point, you can change it by changing the number or writing buttom */
  top: 0;
  width: 100%;
  border-radius: 17px;
    font-size: 35px;
}

li{
  float: left;
}

li a{
    /* makes it block*/
  display: block;
  color: white;
  text-align: center;
  padding: 8px 7px;
    /* removes the underline*/
  text-decoration: none;
}
  /* the hover is when you put the curser over the text and the not() doesnt follow the code before it*/
li a:hover:not(.currentpage){
  background-color: yellow;
  color: black;
}
  /*the current page that the user is browsing at doesnt change color */
.currentpage{
  background-color: darkorange;
}

body{
  background-color: grey;
}
/*cpu div*/
.cpu{
  background-color: lightgrey;
  border-radius: 3px;
  padding-right: 37%;
    font-size: 35px;
}
/*cpu phot*/
.one{
  margin-left: 130%;
  margin-top: -45%;
}

/*mother board div*/
.MB{
  background-color: lightgrey;
  border-radius: 3px;
  padding-right: 37%;
    font-size: 35px;
}
/*mother board photo*/
.two{
  margin-left: 130%;
  margin-top: -75%;
}
/*ram div*/
.RAM{
  background-color: lightgrey;
  border-radius: 3px;
  padding-right: 37%;
    font-size: 35px;
}
/*ram photo*/
.three{
  margin-left: 130%;
  margin-top: -45%;
}
/*storage div*/
.Storage{
  background-color: lightgrey;
  border-radius: 3px;
  padding-right: 37%;
    font-size: 35px;
}
/*storage photo*/
.four{
  margin-left: 130%;
  margin-top: -45%;
}
/*gpu div*/
.GPU{
  background-color: lightgrey;
  border-radius: 3px;
  padding-right: 37%;
    font-size: 35px;
}
/*gpu photo*/
.five{
  margin-left: 130%;
  margin-top: -45%;
}
/*power supply div*/
.PS{
  background-color: lightgrey;
  border-radius: 3px;
  padding-right: 37%;
    font-size: 35px;
}
/*power supply photo*/
.six{
  margin-left: 130%;
  margin-top: -45%;
}
/*cooling div*/
.Cooling{
  background-color: lightgrey;
  border-radius: 3px;
  padding-right: 37%;
    font-size: 35px;
}
/*colling photo*/
.seven{
  margin-left: 130%;
  margin-top: -1000%;
}
