
ul{
  /* The list style type removes the dot */
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: orange;
  /*The overflow fixes if the thing is big (text and size)*/
  overflow: hidden;
    /* top makes it move the the highest point, you can change it by changing the number or writing buttom */
  top: 0;
  width: 100%;
  border-radius: 17px;
  position: fixed;
}

li{
  float: left;
}

li a{
    /* makes it block*/
  display: block;
  color: white;
  text-align: center;
  padding: 8px 7px;
    /* removes the underline*/
  text-decoration: none;
  font-size: 30px;
}
  /* the hover is when you put the curser over the text and the not() doesnt follow the code before it*/
li a:hover:not(.currentpage){
  background-color: yellow;
  color: black;
}
  /*the current page that the user is browsing at doesnt change color */
.currentpage{
  background-color: darkorange;
}
body{
  background-color: grey;
}

.computercomponent{
  background-color: lightgrey;
  text-align: center;
  border-radius: 17px;
  width: 45%;
  margin-left: 25%;
  margin-top: 70px;
  font-size: 35px;
}
.compcomp{
    text-decoration: none;
}


.computerEvo{
  background-color: lightgrey;
  text-align: center;
  border-radius: 17px;
  width: 45%;
  margin-left: 25%;
  margin-top: 10px;
  font-size: 25px;
}
.compevo{
  text-decoration: none;
}


.build{
  background-color: lightgrey;
  text-align: center;
  border-radius: 17px;
  width: 45%;
  margin-left: 25%;
  margin-top: 10px;
  font-size: 25px;
}
.buildcomp{
  text-decoration: none;
}



.myComputer{
  background-color: lightgrey;
  text-align: center;
  border-radius: 17px;
  width: 45%;
  margin-left: 25%;
  margin-top: 10px;
  font-size: 25px;
}
.myComp{
      text-decoration: none;
}

@media only screen
  and (min-device-width: 1000px)
  and (max-device-width: 3000px) {
body{
  width: 100%;
  height: auto;
  position: relative;
  font-size: 100rem;


}
}
