body{
  background-color: lightgrey;
}
.navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 175px

}


li a{
  display: block;
  background-color: orange;
  text-decoration: none;
  color: black;

}

li a:hover {
  background-color: darkorange;
  color: white;
}

.Banner{
  background-color: orange;
  border-radius:17px;
}
.Paragraph{
  text-align: center;
  background-color: white;
  width: 30%;
  border-radius:17px;

}
.Paragraph li
{
  text-align: left;
}
