body{
  background-color: lightgrey;
}

h1{
  background-color: orange;
  border-radius:17px;
}

h3{
  background-color: orange;
  border-radius: 17px;
  width: 25%
}

h4{
  border: 1px solid;
  width: 20%
}

p{
  background-color: white;
  border-radius:7px;
}
.abcd{
  background-color: white;
  border-radius:7px;
}
table{
  background-color: orange;
  border-radius:17px;
  width: 30%;
